<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ml-auto" href="/">Git Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto" style="align-items: center">
        <a class="nav-link active" href="clothing">Clothing</a>
        <a class="nav-link" href="shoes">Shoes</a>
        <a class="nav-link" href="members">Members</a>
        <a class="nav-link" href="logout">Log Out</a>
      </div>
    </div>
  </div>
</nav>

<div style="max-width: 1902px; margin: 0 auto; padding: 0 20px;">
  <div style="margin: 5px 0; display: flex; justify-content: center;">
    <!-- #apicart-cart-dropdown is the target element for the Cart dropdown component. You can move it wherever you want -->
    <div id="apicart-cart-dropdown"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Trendy Clothing</h2>
    </div>
  </div>
</div>

<!-- #apicart will be replaced by components according to configuration --->
<div id="apicart"></div>

<!-- Populate some items within this container -->
<div class="container mt-3 p-2">
  <div class="row">
    <div class="col text-center">
      <img src="/assets/images/clshirt1613.jpg" alt="A grey t-shirt with black text" height="200px" width="200px">
      <div class="description">
        <p>Do Not Read..</p>
      </div>
      <div>
        <p>$29.99
          <a style="padding-top: 0px;">
            <button
              data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/cl/clshirt1613.json">Add
              to Cart</button>
          </a>
        </p>
      </div>
    </div>
    <div class="col text-center">
      <img src="/assets/images/HanHent Funny Programming T Shirt Male Cotton.jpg"
        alt="A shirt that only programmers may find funny" height="200px" width="200px">
      <div class="description">
        <p>HanHent Programming T-Shirt</p>
      </div>
      <div>
        <p>$19.99
          <a style="padding-top: 0px;">
            <button
              data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/cl/clshirthan15.json">Add
              to Cart</button>
          </a>
        </p>
      </div>
    </div>
    <div class="col text-center">
      <img src="/assets/images/greysweats.jpg" alt="Grey sweatpants" height="200px" width="200px">
      <div class="description">
        <p>Grey Sweatpants</p>
      </div>
      <div>
        <p>$40.00
          <a style="padding-top: 0px;">
            <button
              data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/gr/greysweatpants.json">Add
              to Cart</button>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <img src="/assets/images/Why You Delete Cookies.jpg" alt="A blue t-shirt with text" height="200px" width="200px">
      <div class="description">
        <p>Why You Delete Cookies</p>
      </div>
      <div>
        <p>$28.00
          <a style="padding-top: 0px;">
            <button
              data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/cl/clshirtwhydelcookies.json">Add
              to Cart</button>
          </a>
        </p>
      </div>
    </div>
    <div class="col text-center">
      <img src="/assets/images/offwhitebelt.jpg" alt="An image of an off white belt" height="200px" width="200px">
      <div class="description">
        <p>Off-White Belt</p>
      </div>
      <div>
        <p>$100.00
          <a style="padding-top: 0px;">
            <button
              data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/of/offwhite.json">Add
              to Cart</button>
          </a>
        </p>
      </div>
    </div>
    <div class="col text-center">
      <img src="/assets/images/amari.jpg" alt="An image of Amari Jeans" height="200px" width="200px">
      <div class="description">
        <p>Amari Jeans</p>
      </div>
      <div>
        <p>$400.00
          <a style="padding-top: 0px;">
            <button
              data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/am/amari.json">Add
              to Cart</button>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>