<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ml-auto" href="/">Git Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto" style="align-items: center">
        <a class="nav-link active" href="clothing">Clothing</a>
        <a class="nav-link" href="shoes">Shoes</a>
        <a class="nav-link" href="members">Members</a>
        <a class="nav-link" href="logout">Log Out</a>
      </div>
    </div>
  </div>
</nav>

<!-- #apicart-cart-dropdown will be replaced by dropdown --->
<div id="apicart-cart-dropdown"></div>
<!-- #apicart will be replaced by components according to configuration --->
<div id="apicart"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Clothing</h2>
    </div>
  </div>
</div>

<!-- Populate some items within this container -->
<div class="container mt-3 p-2">
  <div class="row">
    <div class="col">

      <img src="/assets/images/clshirt1613.jpg" alt="" height="200px" width="200px">
      <div class="description">
        <p>Grey Text T-Shirt</p>
      </div>
      <div class="price">
        <p>$25.00</p>
      </div>
      <div class="button">
        <button
          data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/cl/clshirt1613.json">Add
          to Cart</button>
      </div>
    </div>

    <div class="col">

      <img src="/assets/images/HanHent Funny Programming T Shirt Male Cotton.jpg" alt="" height="200px" width="200px">
      <div class="description">
        <p>Black Text T-Shirt</p>
      </div>
      <div class="price">
        <p>$20.00</p>
      </div>
      <div class="button">
        <button
          data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/cl/clshirt1613.json">Add
          to Cart</button>
      </div>
    </div>

    <div class="col">

      <img src="/assets/images/greysweats.jpg" alt="" height="200px" width="200px">
      <div class="description">
        <p>Grey Sweatpants</p>
      </div>
      <div class="price">
        <p>$40.00</p>
      </div>
      <div class="button">
        <button
          data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/cl/clshirt1613.json">Add
          to Cart</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <img src="/assets/images/Why You Delete Cookies.jpg" alt="" height="200px" width="200px">
      <div class="description">
        <p>Light Blue Text T-Shirt</p>
      </div>
      <div class="price">
        <p>$28.00</p>
      </div>
      <div class="button">
        <button
          data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/cl/clshirt1613.json">Add
          to Cart</button>
      </div>
    </div>

    <div class="col">

      <img src="/assets/images/offwhitebelt.jpg" alt="" height="200px" width="200px">
      <div class="description">
        <p>Off-White Belt</p>
      </div>
      <div class="price">
        <p>$100.00</p>
      </div>
      <div class="button">
        <button
          data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/cl/clshirt1613.json">Add
          to Cart</button>
      </div>
    </div>

    <div class="col">

      <img src="/assets/images/amari.jpg" alt="" height="200px" width="200px">
      <div class="description">
        <p>Amari Jeans</p>
      </div>
      <div class="price">
        <p>$400.00</p>
      </div>
      <div class="button">
        <button
          data-apicart-add-item="https://cdn.apicart.dev/external/yaxkmvtr0zbeni50oewvqqetn5tgz4oi/data/cl/clshirt1613.json">Add
          to Cart</button>
      </div>
    </div>
  </div>
</div>
{{!-- apicart script --}}
<script
  src="https://cdn.jsdelivr.net/npm/@apicart/vue-components@1.0.0-alpha7/dist/bundles/default/default.full.min.js"></script>
<script>
  Apicart
    .setDevEnv() // Switch to dev environment
    .configure({
      store: new Apicart.Store({
        token: "zxbRBAYpNBgJp7CPJMi4VsWjF7eSVoFxqjr4gKb7ZyfQ69ucUH5yswP0Whz5LHFl"
      })
    })
    .initVueBundle();
</script>