<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ml-auto" href="/">Git Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto" style="align-items: center">
        <a class="nav-link" href="clothing">Clothing</a>
        <a class="nav-link" href="shoes">Shoes</a>
        <a class="nav-link" href="members">Members</a>
      {{#if isLoggedIn}}
				<a class="nav-link" href="/logout">Logout</a>
			{{else}}
				<a class="nav-link" href="/login">Login</a>
			{{/if}}
      </div>
    </div>
  </div>
</nav>

<div class="slogan">
  <p>Welcome to Git Shopping!</p>
</div>

<!-- Items container -->
<div class="container mt-3 p-2">
  <p class="text-center">Sign up today to Git access to the latest and hottest trends in today's fashion!</p>
  <div class="row">
    <div class="col text-center">
      <img src="/assets/images/clshirt1613.jpg" alt="A grey t-shirt with text" height="200px" width="200px">
      <div class="description">
        <p>Do Not Read..</p>
      </div>
      <div>
        <p>$25.00
        <a style="padding-top: 0px;" href="/members"><button>GIT SHOPPING!</button></a>
        </p>
      </div>
    </div>
    <div class="col text-center">
      <img src="/assets/images/yeezy.jpg" alt="A pair of white yeezies" height="200px" width="200px">
      <div class="description">
        <p>Yeezy 350 Boost V2</p>
      </div>
      <div>
        <p>$200.00
        <a style="padding-top: 0px;" href="/members"><button>GIT SHOPPING!</button></a>
        </p>
      </div>
    </div>
    <div class="col text-center">
      <img src="/assets/images/amari.jpg" alt="Amari jeans" height="200px" width="200px">
      <div class="description">
        <p>Amari Jeans</p>
      </div>
      <div>
        <p>$400.00
        <a style="padding-top: 0px;" href="/members"><button>GIT SHOPPING!</button></a>
        </p>
      </div>
    </div>
  </div>
</div>