<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ml-auto" href="/">Git Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto" style="align-items: center">
        <a class="nav-link" href="clothing">Clothing</a>
        <a class="nav-link" href="shoes">Shoes</a>
        <a class="nav-link" href="members">Members</a>
        <a class="nav-link" href="/login">Log In</a>
      </div>
    </div>
  </div>
</nav>

<!-- #apicart-cart-dropdown will be replaced by dropdown --->
<div id="apicart-cart-dropdown"></div>
<!-- #apicart will be replaced by components according to configuration --->
<div id="apicart"></div>

<!-- Populate some items within this container -->
<div class="container mt-3 p-2">
  <h1>Hot Deals</h1>
  <div class="row">
    <div class="col">
      <img src="/assets/images/clshirt1613.jpg" alt="" width="200px" height="200px">
      <h1>Your cost $6.99</h1>
      <p>comes in colors black and grey</p>
      <br>
      <button data-apicart-add-item="/login">Add to cart</button>
    </div>

    <div class="col">
      <img src="/assets/images/Why You Delete Cookies.jpg" alt="" width="200px" height="200px">
      <h1>Your price $8.97</h1>
      <p>20% off</p>
      <br>
      <button data-apicart-add-item="/login">Add to cart</button>
    </div>

   <div class="col">
      <img src="/assets/images/HanHent Funny Programming T Shirt Male Cotton.jpg" alt="" width="200px" height="200px">
      <h1>Your price $5.97</h1>
      <p>save $3</p>
      <br>
      <button data-apicart-add-item="/login">Add to cart</button>
   </div>
</div>
<br>
<div class="row">
    <div class="col">
      <img src="/assets/images/Jordan1.jpg" alt="" width="200px" height="200px">
      <h1>Your price $150</h1>
      <p>Original price $400</p>
      <p>save $250</p>
      <br>
      <button data-apicart-add-item="/login">Add to cart</button>
    </div>

   <div class="col">
      <img src="/assets/images/vans.jpg" alt="" width="200px" height="200px" height="200px">
      <h1>Your price $45</h1>
      <p>save $15</p>
      <p>comes in diffrent colors</p>
      <br>
      <button data-apicart-add-item="/login">Add to cart</button>
    </div>

   <div class="col">
      <img src="/assets/images/yeezy.jpg" alt="" width="200px" height="200px">
      <h1>Your price $180</h1>
      <p>Original price $220</p>
      <p>save $40</p>
      <br>
      <button data-apicart-add-item="/login">Add to cart</button>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@apicart/vue-components@1.0.0-alpha7/dist/bundles/default/default.full.min.js"></script>
<script>
  Apicart
  .setDevEnv() // Switch to dev environment
  .configure({
    store: new Apicart.Store({
      token: "zxbRBAYpNBgJp7CPJMi4VsWjF7eSVoFxqjr4gKb7ZyfQ69ucUH5yswP0Whz5LHFl"
    })
  })
  .initVueBundle();
</script>

