<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Git Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto" style="align-items: center">
        <a class="nav-link" href="clothing">Clothing</a>
        <a class="nav-link" href="shoes">Shoes</a>
        <a class="nav-link" href="members">Members</a>
        <a class="nav-link active" href="/login">Log In</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4">
        <form method="post" class="login">
          <h2>Login</h2>
	      <input type="hidden" name="_csrf" value="{{csrfToken}}">
          {{#if hasError}}
            <div class="error">{{ error }}</div>
          {{/if}}
          <div class="form-group">
            <label for="username">Email Address</label>
            <div class="form-row">
              <input id="username" type="text" name="username" placeholder="Username" value="{{form.username}}">
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="form-row">
              <input id="password" type="password" name="password">
            </div>
            <br>
            <button type="submit">Login</button>
          </div>
          <p>Or sign up <a href="register">here</a></p>
        </form>       
    </div>
  </div>
</div>