<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Git Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto" style="align-items: center">
        <a class="nav-link" href="clothing">Clothing</a>
        <a class="nav-link" href="shoes">Shoes</a>
        <a class="nav-link" href="members">Members</a>
        <a class="nav-link" href="login">Login</a>
      </div>
    </div>
  </div>
</nav>

<div class="success">
  <h1>Welcome to the Family!</h1>
  <p>Your account has been created! Now, simply log in to access your member pricing</p>
  <a href="/login">Login</a>
</div>