form.signup,
form.login {
  margin-top: 50px;
}

.center {
  letter-spacing: 2px;
  font-family: "Bangers", cursive;
  text-align: center;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin: 70px;
}

body {
  background-image: url("http://s1.picswalls.com/thumbs2/2016/06/16/earth-background_03321415_311.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  background-size: cover;
}

.col-sm {
  color: antiquewhite;
  column-gap: 50px;
  row-gap: 30px;
  grid-template-rows: center;
  background-color: black;
  background-blend-mode: soft-light;
}

.ExclusiveDeals {
  letter-spacing: 2px;
  font-family: "Bangers", cursive;
  text-align: center;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin: 70px;
}

.clothing {
  letter-spacing: 2px;
  font-family: "Bangers", cursive;
  text-align: center;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin: 70px;
}

.homeitems {
  letter-spacing: 2px;
  font-family: "Bangers", cursive;
  text-align: center;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin: 70px;
}

.row {
  color: silver;
}

a { 
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(20, 20, 20);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

