form.signup,
form.login {
  margin-top: 50px;
}

.center {
  letter-spacing: 2px;
  font-family: "Bangers", cursive;
  text-align: center;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin: 70px;
}

body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  background-size: cover;
}

.col-sm {
  color: black;
  column-gap: 50px;
  row-gap: 30px;
  grid-template-rows: center;
  background-color: black;
  background-blend-mode: soft-light;
}

.ExclusiveDeals {
  letter-spacing: 2px;
  font-family: "Bangers", cursive;
  text-align: center;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin: 70px;
}

.clothing {
  letter-spacing: 2px;
  font-family: "Bangers", cursive;
  text-align: center;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin: 70px;
}

.homeitems {
  letter-spacing: 2px;
  font-family: "Bangers", cursive;
  text-align: center;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin: 70px;
}

.row {
  color: black;
  margin: 35px;
  font-family: "Teko", sans-serif;
}

a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

.apicart-cart-dropdown {
  float: right;
}

.price {
  font-weight: bold;
  font-size: 30px;
}

button {
  background-color: grey;
  color: white;
  border: none;
}

button:hover {
  background-color: black;
}

.slogan {
  text-align: center;
  font-size: 27px;
  font-family: "Carter One", cursive;
}
